:root {
    /* Chat Layout */
    --chat-align: row;
    --message-gap: 16px;
    --message-max-width: 50%;

    --avatar-size: 70px;
    --avatar-gap: 10px;

    /* Backgrounds */

    --background-opacity: 0.65;

    --background-color-default: rgb(0, 0, 0);
    --background-color-broadcaster: rgb(214, 0, 0);
    --background-color-moderator: rgb(0, 128, 0);
    --background-color-subscriber: rgb(129, 0, 184);
    --background-color-vip: rgb(255, 0, 238);
    --background-color-highlight: rgb(210, 105, 30);
    --background-color-bot: rgb(0, 19, 128);

    /* Badges */
    --badge-size: 15px;
    --badge-spacing: 2px;

    /* Emotes  */
    --emote-size: 16px;
    --emote-only-size: 32px;

    /* Fonts */
    --time-size: 12px;
    --font-color: #fff;
    --userColor-default: #2b2b2b;
    --font-size: 1em;
    --font-family: 'Roboto', sans-serif;
    --spacing-right: 25px;

}

/* Layout */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

#chat {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: var(--chat-align);
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    gap: var(--message-gap);
    overflow: visible;
}

#chat li {
    display: flex;
    background-color: var(--_background-color, --background-color-default);
    flex-direction: var(--chat-align);
    border-radius: 50px;
    align-items: center;
    gap: var(--avatar-gap);
    height: 50px;
    max-width: var(--message-max-width);
}

/* Avatar */

.avatar img {
    width: calc(var(--avatar-size));
    border-radius: 50px;
}


.avatar {
    height: var(--avatar-size);
    aspect-ratio: 1/1;
}

/* Badges */

.badges {
    display: none;
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

/* Message */

.message {
    color: var(--font-color);
    font-size: var(--font-size);
    display: flex;
    width: max-content;
}

.content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: var(--spacing-right);
    text-shadow: 1px 1px black;
    max-height: 2.6em;
    overflow: hidden;
    max-width: 95ch;
    white-space: normal;
}

.message .emote {
    height: var(--emote-size);
}


.emoteonly .message .emote {
    height: var(--emote-only-size);
}

.name {
    color: var(--userColor, var(--userColor-default)) !important;
    font-weight: bold;
}

/* Time */

.time {
    font-size: var(--time-size);
    color: aliceblue;
    position: fixed;
    top: -15px;
    right: 0px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    z-index: 999;
}

/* User Groups */
#chat li.me {
    --_background-color: var(--background-color-bot);
}

#chat li.vip {
    --_background-color: var(--background-color-vip);
}

#chat li.subscriber {
    --_background-color: var(--background-color-subscriber);
}

#chat li.moderator {
    --_background-color: var(--background-color-moderator);
}

#chat li.broadcaster {
    --_background-color: var(--background-color-broadcaster);
}

/* Message types*/
#chat li.highlight {
    --_background-color: var(--background-color-highlight);
}

#chat li.reward {
    --_background-color: rgba(255, 255, 255, 0.9);
    padding: 0px 20px;

}

#chat li.reward .message {
    color: #000000;
}

#chat li.reply {
    --_background-color: rgba(255, 255, 255, 0.9);
}

#chat li.reply .message {
    color: #000000;
}
