:root {
    --background-color: #2b2b2b;
    --timer-color: purple;
    --timer-background: #5b5b5b;
    --choice-1-color: #4ca3ff;
    --choice-2-color: #f763ed;
    --choice-3-color: #f7c863;
    --choice-4-color: #68f763;
    --choice-5-color: #f76363;
    --choice-6-color: #63edf7;
    --choice-7-color: #8b63f7;
    --choice-8-color: #f7ed63;
    --choice-9-color: #6392f7;
    --choice-10-color: #f76363;
    --choice-background: #5b5b5b;
    --choice-count: 3;
}

body {
    font-family: 'Roboto', sans-serif;
}

#poll {
    background-color: var(--background-color);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

#time {
    height: 5px;
    background-color: var(--timer-background);
}

#timeleft {
    animation-duration: var(--timer);
    animation-name: timer;
    animation-timing-function: linear;
    height: 100%;
    background-color: var(--timer-color);
}

@keyframes timer {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

#poll-title {
    font-size: 1.8rem;
}

.choice {
    background-color: var(--choice-background);
    margin: .5rem;
    border-radius: 1rem;
    padding: .2rem 0;
    position: relative;
}

.info {
    position: relative;
    padding: 0 0.4rem;
}

.choice strong,
.choice span {
    z-index: 999;
    position: relative;
}

.choice span {
    float: right;
}

.percent {
    border-radius: 1rem;
    width: var(--percent);
    position: absolute;
    height: 100%;
    top: 0;
    transition: all .5s linear;
}

#choice-1 .percent {
    background-color: var(--choice-1-color);
}

#choice-2 .percent {
    background-color: var(--choice-2-color);
}

#choice-3 .percent {
    background-color: var(--choice-3-color);
}

#choice-4 .percent {
    background-color: var(--choice-4-color);
}

#choice-5 .percent {
    background-color: var(--choice-5-color);
}

#choice-6 .percent {
    background-color: var(--choice-6-color);
}

#choice-7 .percent {
    background-color: var(--choice-7-color);
}

#choice-8 .percent {
    background-color: var(--choice-8-color);
}

#choice-9 .percent {
    background-color: var(--choice-9-color);
}

#choice-10 .percent {
    background-color: var(--choice-10-color);
}