*.autosave
*.user

*.zip
*.rar

*.vscode/
.idea/*

# Development Files
.github
dev.html
widget/chat/box.html
widget/chat/bubble.html
widget/chat/bubble_ticker.html
widget/chat/clean.html
widget/chat/crossing.html
widget/chat/default.html
widget/chat/tarkov.html
widget/chat/ticker.html



# Exclude not finished projects
.gitignore export-ignore
/.github export-ignore

# Actions
/overwolf export-ignore
/actions/media-request export-ignore
/actions/polls export-ignore

# Games
/games/Streaming Stampede export-ignore

# Widgets
/widget/skip_ad export-ignore
