:root {
    --avatar-size: 80px;
    --avatar-gap-right:1rem;

    --message-padding:1rem;
    --message-gap-bottom:1rem;
    --message-background-color: #18181b;

    --badge-size:15px;
    --badge-spacing:2px;

    --emote-size:15px;

    --font-color: #fff;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;

}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#chat {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.msg {
    display: flex;
    margin-bottom: var(--message-gap-bottom);
}

.avatar img {
    width: var(--avatar-size);
}

.avatar {
    margin-right: var(--avatar-gap-right);
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

.message {
    padding: var(--message-padding);
    background-color: var(--message-background-color);
    color: var(--font-color);
    font-size: var(--font-size);
}

.message .emote {
    height: var(--emote-size);
}

.name {
    color: var(--userColor);
    font-weight: bold;
}