#countSprite .sprite,
.count .sprite {
    /* Background needs to be generated */
    background-image: var(--sprite);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position-x: -65px;
    background-position-y: -135px;
}

.decoy .sprite {
    /* Background needs to be generated */
    background-image: var(--sprite);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -135px;
}

@keyframes sprite {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -260px;
    }
}

.sprite {
    animation-name: sprite;
    animation-duration: .5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}