:root {
    --player-1: #1e88b5;
    --player-2: #bb2a29;
    --player-3: #308219;
    --player-4: #aa3fb9;
}

body {
    background-color: rgb(36, 36, 36);
    background-image: url(../images/backgrounds/game_board.png);
    background-repeat: no-repeat;
}

#gameField {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.runner {
    position: absolute;
    right: 101vw;
    transition-property: right, left;
    transition-timing-function: linear;
    top: var(--runner-top);
}

.run {
    animation-duration: var(--runner-speed);
    animation-name: race;
    animation-timing-function: linear;
    animation-iteration-count: var(--runner-speed);
}

@keyframes race {
    from {
        right: 101vw;
    }
    to {
        right: -50px;
    }
}


/**
 * Overlay
 */

#overlay {
    justify-content: center;
    display: grid;
    margin-top: 15%;
}


/**
 * Player Selection
 */

#textbox {
    background-image: url("../images/ui/textbox_full.png");
    width: 950px;
    height: 400px;
    padding: 0 65px;
    box-sizing: border-box;
}

#playerSelection {
    width: 100%;
    height: auto;
    padding: 1%;
}

#playerSelection h1 {
    text-align: center;
    text-transform: uppercase;
}

#players {
    display: flex;
    gap: 1%;
    margin-bottom: 15px;
}

#playerAvatars {
    width: 53%;
    display: flex;
    gap: 2%;
}

#playerNames {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 45%;
}

.username {
    width: auto;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    padding-left: 5px;
}

.player-1 {
    background-color: var(--player-1);
}

.player-2 {
    background-color: var(--player-2);
}

.player-3 {
    background-color: var(--player-3);
}

.player-4 {
    background-color: var(--player-4);
}

#gameDescription {
    font-size: 1.7rem;
}


/**
   * Questions
   */


/**
   * Result
   */

#result {
    display: none;
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#result.show {
    display: flex;
}