:root {
    /** Left: row Right: row-reverse */
    --chat-align: row;
    --avatar-size: 80px;
    --avatar-gap: 16px;
    --message-padding: 16px;
    --message-gap-bottom: 16px;
    --message-background-color: #18181b;
    --rewardColor: purple;
    --badge-size: 15px;
    --badge-spacing: 2px;
    --emote-size: 16px;
    --emote-only-size: 32px;
    --font-color: #fff;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --time-size: 12px;
    --time-align: right;
    --animate-duration: .3s;
    --animate-delay: 0;

}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

#chat {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#chat li {
    display: flex;
    margin-bottom: var(--message-gap-bottom);
    flex-direction: var(--chat-align);
}

.msg {

}

.reward {
    border-left: 5px solid var(--rewardColor);
}


.avatar img {
    width: var(--avatar-size);
}

.avatar {
    margin-right: var(--avatar-gap);
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

.message {
    padding: var(--message-padding);
    background-color: var(--message-background-color);
    color: var(--font-color);
    font-size: var(--font-size);
    overflow-wrap: anywhere;
}

.message .emote {
    height: var(--emote-size);
}

.emoteonly .message .emote {
    height: var(--emote-only-size);
}

.name {
    color: var(--userColor);
    font-weight: bold;
}

.time {
    font-size: var(--time-size);
    float: var(--time-align);
}

.broadcaster {}

.subcriber {}

.reply {}

.highlight {}

.me {}