:root {
    --font-family: 'Roboto', sans-serif;
    --header-height: 30px;
    --background-color: #ffffff;
    --background-line-color: teal;
    --background-hline-color: rgba(255, 0, 0, 0.6);
    --background-hline-left: 40px;
    --headline-color: #000;
    --headline-font-size: 36px;
    --headline-border-color: #000;
    --list-item-color: #000;
    --list-item-checked-color: #000;
    --list-item-stroke-color: #000;
    --list-item-font-size: 20px;
    --list-item-spacing: 10px;
    --list-item-line-height: 24px;
    --checkbox-color: #000;
    --checkbox-checkmark-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#paper {
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--background-color);
    box-shadow: 0px 0px 5px 0px #888;
}


/* styling red vertical line */

#paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255, 0, 0, 0.6);
}


/* styling blue horizontal lines */

#pattern {
    height: 100%;
    background-image: repeating-linear-gradient(var(--background-color) 0px, var(--background-color) 24px, var(--background-line-color) 25px);
}

#list {
    padding: 24px 75px 10px 60px;
    position: relative;
    list-style: none;
    font-family: var(--font-family);
}

#list h1 {
    color: var(--headline-color);
    font-size: var(--headline-font-size);
    margin-left: 10px;
    display: inline-block;
    border-bottom: 2px solid var(--headline-border-color);
    line-height: var(--list-item-line-height);
}

#list li {
    color: var(--list-item-color);
    font-size: var(--list-item-font-size);
    position: relative;
}

#list input[type="checkbox"] {
    display: none;
}

#list li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--checkbox-color);
    transition: transform 0.5s;
    position: relative;
}

#list li input[type="checkbox"]:checked~i {
    top: -6px;
    border-top: none;
    border-right: none;
    height: 10px;
    width: 20px;
    transform: rotate(-45deg);
    border-color: var(--checkbox-checkmark-color);
}

#list li span {
    position: relative;
    transition: 0.5s;
    line-height: var(--list-item-line-height);
}

#list li span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--list-item-stroke-color);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#list li input[type="checkbox"]:checked~span::before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}