body {
  padding: 0;
  margin: 0;
}

#alert {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.alert-image {
  width: 250px;
  height: 250px;
}

.alert-sub .alert-image {
  background-image: url(../img/sub.webm);
}

.alert-giftbomb .alert-image {
  background-image: url(../img/giftbomb.webm);
}

.alert-giftsub .alert-image {
  background-image: url(../img/giftsub.webm);
}
