body{
    background-image: url(../assets/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#pokemon{
    filter: brightness(0%);
}

.show{
    filter: brightness(100%);
}