:root {
    /** Left: row Right: row-reverse */
    --chat-style: row;
    --avatar-size: 50px;
    --avatar-gap: 16px;
    --message-gap-bottom: 16px;
    --message-background-color: #18181b;
    --badge-size: 15px;
    --badge-spacing: 2px;
    --emote-size: 16px;
    --emote-only-size: 32px;
    --time-size: 12px;
    --font-color: #fff;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --spacing-right: 25px;
    --animate-duration: .3s;
    --animate-delay: 0;
}


.reward {
    padding-left: var(--spacing-right);
}

.avatar img {
    width: var(--avatar-size);
    border-radius: 50px;
}

.avatar {
    margin-right: 8px;
    height: var(--avatar-size);
    margin-bottom: auto;
}

.badges {
    display: none;
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

.message {
    color: var(--font-color);
    font-size: var(--font-size);
    overflow-wrap: anywhere;
}

.content {
    display: flex;
    padding-right: var(--spacing-right);
    text-shadow: 1px 1px black;
    text-overflow: ellipsis;
    max-height: 2em;
    overflow: hidden;
    line-height: 1em;
    align-items: center;
    gap: 5px;
}

.message .emote {
    height: var(--emote-size);
}

.emoteonly .message .emote {
    height: var(--emote-only-size);
}

.name {
    color: var(--userColor);
    font-weight: bold;
}

.time {
    font-size: var(--time-size);
    color: aliceblue;
    position: absolute;
    right: var(--spacing-right);
    bottom: 2px;
}

.subscriber {}

.broadcaster {}

.reply {}

.highlight {}

.me {}
