:root {

    --imessage-color-green: #39ff5a;
    --imessage-color-gray: #e5e5ea;
    --imessage-color-blue: #218aff;

    /** Left: row Right: row-reverse */
    --chat-align: row;
    --avatar-size: 25px;
    --avatar-gap: 16px;
    --message-gap-bottom: 16px;
    --badge-size: 15px;
    --badge-spacing: 2px;
    --emote-size: 16px;
    --emote-only-size: 32px;
    --time-size: 12px;
    --font-color: #000000;
    --font-color-white: #fff;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --spacing-right: 25px;
    --animate-duration: .5s;
    --animate-delay: 0;

    --bubble-path: polygon(0 100%, 26% 85%, 44% 71%, 60% 51%, 73% 28%, 84% 0, 100% 100%);
}


/**
 * Chat Colors
 */


#settings_json {
    display: none;
}

#chat li {
    background-color: transparent;
    --_background-color: var(--imessage-color-gray);
}

#chat li.broadcaster {
    --_background-color: var(--imessage-color-blue) !important;
    --_font-color: var(--font-color-white) !important;
}

#chat li.moderator {
    --_background-color: var(--imessage-color-blue) !important;
    --_font-color: var(--font-color-white) !important;
}

#chat li.subscriber {
    --_background-color: var(--imessage-color-green);
    --_font-color: var(--font-color);
}

/**
 * Add classes for right display here
 */
#chat li.broadcaster,
#chat li.moderator {
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row-reverse;
}


/**
 * Add classes for right display here
 */
#chat li.broadcaster .container,
#chat li.moderator .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.reward {
    padding-left: var(--spacing-right);
}

.avatar img {
    width: var(--avatar-size);
    border-radius: 50px;
}

.avatar {
    height: var(--avatar-size);
    z-index: 99;
}

.badges {
    display: none;
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

.message {
    color: var(--_font-color);
    font-size: var(--font-size);
    background-color: var(--_background-color);
    border-radius: 1.15rem;
    line-height: 1.25;
    padding: 0.5rem 0.875rem;
    word-wrap: break-word;
    position: relative;
}

.message::before,
.message::after {
    bottom: -0.1rem;
    content: "";
    position: absolute;
    width: 20px;
    height: 25px;
    border-radius: 0px 0px 25px 0px;
}

.message::before {
    background-color: var(--_background-color);
    left: -5px;
    clip-path: var(--bubble-path);
}



.broadcaster .message::before,
.moderator .message::before {
    content: unset;
}

.broadcaster .message::after,
.moderator .message::after {
    background-color: var(--_background-color);
    transform: scaleX(-1);
    clip-path: var(--bubble-path);
}


.message .emote {
    height: var(--emote-size);
}

.emoteonly .message .emote {
    height: var(--emote-only-size);
}

.name {
    color: var(--userColor);
    font-weight: bold;
}

.time {
    font-size: var(--time-size);
    color: var(--font-color);
}
