:root {
    --avatar-gap: 10px;
    --message-gap-bottom: 10px;
    --message-background-color: #191b1b;
    --message-boarder-color: #c0cad0;
    --badge-size: 15px;
    --badge-spacing: 2px;
    --emote-size: 16px;
    --emote-only-size: 32px;
    --font-color: #b5bec4;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --time-size: 12px;
    --time-align: right;
    --animate-duration: .3s;
    --animate-delay: 0;
}

#chat {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#chat li {
    background-color: transparent;
}

.msg {}

.reward {
    line-height: 2rem;
    margin: 0 auto;
    margin-bottom: 0px;
}

.badges {
    align-self: flex-start;
    position: relative;
    top: 15px;
}

.badges img {
    width: var(--badge-size);
    margin-left: var(--badge-spacing);
}

.message {
    padding: 10px;
    background-color: var(--message-background-color);
    color: var(--font-color);
    font-size: var(--font-size);
    overflow-wrap: anywhere;
    border: 1px solid var(--message-boarder-color);
    position: relative;
}

.message::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--message-background-color);
    border: 1px solid var(--message-boarder-color);
    position: absolute;
    left: -6px;
    display: block;
    transform: rotate(45deg);
    top: 15px;
    border-top: 0;
    border-right: 0;
}

.reward .message::after {
    content: none;
}

.message .row {
    align-items: center;
    display: flex;
}

.message .emote {
    height: var(--emote-size);
}

.emoteonly .message .emote {
    height: var(--emote-only-size);
}

.name {
    color: #fff;
    font-weight: bold;
}

.time {
    font-size: var(--time-size);
    margin-left: auto;
    padding: 0 0 0 15px;
}

.prompt {
    background-color: #814600;
    padding: 15px;
    color: #fff;
}

.broadcaster.msg,
.moderator.msg {
    flex-direction: row-reverse !important;
}

.broadcaster .message,
.moderator .message {
    /* Broadcasters,Moderators will be displayed on the right*/
    background-color: var(--message-background-color);
    color: var(--font-color);
    border: 1px solid #6f777d;
    color: #fff;
}

.broadcaster .message::after,
.moderator .message::after {
    background-color: #191b1b;
    border: 1px solid #6f777d;
    position: absolute;
    right: -5px;
    display: block;
    top: 15px;
    left: unset;
    border-bottom: 0;
    border-left: 0;
}

.broadcaster .message .time,
.moderator .message .time {
    padding: 0 0 0 15px;
}

.subcriber .name {
    color: #FFD700;
}

.vip .name {
    color: #ff0000;
}

.broadcaster .name {
    color: #ff0000;
}

.moderator .name {
    color: #1CB96A;
}

.reply {}

.highlight {}

.me {}
